* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: 'FiraCode Nerd Font Mono';
}

//Global Styles
.bar {
  background-color: #282a36;
  border-radius: 16px;
  color: #b0b4bc;
}

tooltip {
  background-color: #282a36;
  font-size: 14;
  // border-radius: 8px;
  // padding: 8px;
}

// Styles on classes (see eww.yuck for more information)
.bat {
  font-size: 14;
}

.time_module {
  font-size: 18;
  margin-left: -8px;
}

.power_module {
  font-size: 20;
}

.power_module button:hover {
  color: #ff79c6;
}

.right {
  font-size: 24;
  margin-right: 10px;
}

.right slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #ff79c6;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: 8px;
  // margin-right: ;
}

.works {
  font-size: 20px;
  margin-left: 10px;
}

.works button {
  margin: 0px 1px;
  background-size: auto;
}

/* Unoccupied */
.O_ {
  color: #bfc9db;
}

/* Occupied */
.OI_,
.OII_,
.OIII_,
.OIV_,
.OV_,
.OVI_ {
  color: #ff79c6;
}

/* Focused */
.OI_I,
.OII_II,
.OIII_III,
.OIV_IV,
.OV_V,
.OVI_VI {
  color: #ff79c6;
}